@import '../components/mixin';
.about {
    background: $thirdary;
}
.site--title {
    color: #641014;
    text-align: center;
    font-weight: 700;
}
.parent {
    text-align: center; 
}

.card {
    @include card-style;
    height: 300px;
    width: 230px;
}

.card-rectangle {
    @include card-style;
    width: 1100px;
    height: 400px;
}

.img-booth {
    height: inherit;
    width: 70%;
    padding: 1rem;
}