@import '../components/mixin';

.announcement {
    background-color: $secondary;
}

.card1 {
    @include card-style;
    width: 380px;
    height: 500px;
}

.card2 {
    @include card-style;
    display: inline-block;
    height: 500px;
    width: 600px;
}