.announcement {
    background-color: $secondary;
}

.card1 {
    @extend %card-default;
    width: 380px;
    height: 500px;
}

.card2 {
    @extend %card-default;
    display: inline-block;
    height: 500px;
    width: 600px;
}